<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>我们需要访问您的位置以获取城市名称和经纬度。</string>
    <key>AMapAppKey</key>
    <string>bb0e04ceb735481cf4e461628345f4ec</string>
</dict>
</plist>
